.Cards-list{
    width: 100%;
    padding-top: 10px;
}

.Card-div{
    width: 100%;
    display: flex;
    padding-top: 30px;
    flex-direction: row;
}

.Card-img{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#Card-img-photo{
    width: 10em;
}

.Card-data{
    display: flex;
    padding-top: 15px;
    padding-right: 20px;
    flex-direction: column;
}

#Pointer-img{
    width: 7px;
}

.Location-country{
    font-size: 13px;
    color: #2B283A;
    font-weight: 400;
    margin-left: 10px;
    letter-spacing: 3px;
    font-family: 'Inter', sans-serif;
}

#Map-url{
    font-size: 10px;
    color: #918E9B;
    font-weight: 400;
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
}

.Data-title{
    font-size: 30px;
    /* color: #2B283A; */
    color: #F55A5A;
    font-weight: 700;
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
}

.Data-dates{
    font-size: 11px;
    color: #2B283A;
    font-weight: 700;
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
}

.Data-body{
    font-size: 10px;
    color: #2B283A;
    font-weight:400;
    padding-top: 10px;
    line-height: 20px;
    text-align: justify;
    font-family: 'Inter', sans-serif;
}