nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21222A;
    padding: 30px 30px;
    height: 100px;
    box-shadow: 0 10px 50px #21222A;
}

nav > img {
    width: 75px;
}

nav > h1, nav > h2 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

nav > h1 {
    margin-right: auto;
    padding-left: 10px;
    font-weight: 700;
    color: #61DAFB;
}

nav > h2 {
    color: #DEEBF8;
    font-weight: 600;
    margin-left: auto;
    text-align: right;
}